body {
  /* color: #5a5a5a; */
  padding-top: 60px;
}

main {
  height: calc(100vh - 60px - 4.5em);
}

.habit-space {
  padding: 50% 0;
}

.habits .card {
  width: 100%;
  max-width: 540px;
}

.activity-icon {
  font-size: 7.5rem;
}

.form-control.activity-icon {
  font-size: 4em;
}

.form-control.activity-icon.is-invalid,
.was-validated .form-control.activity-icon:valid,
.was-validated .form-control.activity-icon:invalid {
  padding-right: 0.75rem;
  background-size: 0.29em;
  background-position-x: 1.72em;
}

#new-existing-record-warnings {
  animation: fade 1s 1;
}

.delete-habit {
  display: none;
}

.delete-habits .delete-habit {
  display: initial;
}

.add-to-routine {
  display: none;
}
.add-habits .add-to-routine {
  display: initial;
}

.remove-from-routine {
  display: none;
}
.remove-habits .remove-from-routine {
  display: initial;
}

.reorder-in-routine {
  display: none;
}
.reorder-habits .reorder-in-routine {
  display: initial;
}
.reorder-habits .list-group-item:first-child .reorder-in-routine {
  visibility: hidden;
}
