body {
  color: #444;
  padding-top: 56px;
}

footer .touch-icon {
  font-size: 2em;
}

.offcanvas-bottom {
  height: 50vh;
}

.routine-cards .card {
  width: 300px;
}

.habit-space {
  padding: 50% 0;
}

.habits .card {
  width: 100%;
  max-width: 540px;
}

.icon,
.activity-icon {
  font-size: 120px;
  line-height: 140px;
}

.form-control.activity-icon {
  font-size: 4em;
}

.form-control.activity-icon.is-invalid,
.was-validated .form-control.activity-icon:valid,
.was-validated .form-control.activity-icon:invalid {
  padding-right: 0.75rem;
  background-size: 0.29em;
  background-position-x: 1.72em;
}

#new-existing-record-warnings {
  animation: fade 1s 1;
}

.delete-routine {
  display: none;
  /* show button over stretched link */
  position: relative;
  z-index: 1;
}
.delete-routines .card:not([data-uid="new"]) .delete-routine {
  display: initial;
}

.delete-habit {
  display: none;
}

.delete-habits .delete-habit {
  display: initial;
}

.edit-habit {
  display: none;
}

.edit-habits .edit-habit {
  display: initial;
}

.add-to-routine {
  display: none;
}
.add-habits .add-to-routine {
  display: initial;
}

.remove-from-routine {
  display: none;
}
.remove-habits .remove-from-routine {
  display: initial;
}

.reorder-in-routine {
  display: none;
}
.reorder-habits .reorder-in-routine {
  display: initial;
}
.reorder-habits .list-group-item:first-child .reorder-in-routine {
  visibility: hidden;
}
