<span class="list-group-item px-1 d-flex align-items-center" data-uid="{{uid}}">
    <button type="button" title="Delete habit completely"
        class="delete-habit btn btn-sm btn-outline-danger float-end fw-bold px-1 py-0 mx-1">X</button>
    <button type="button" title="Remove habit from routine"
        class="remove-from-routine btn btn-sm btn-outline-warning float-end fw-bold px-1 py-0 mx-1">X</button>
    <div class="px-1">{{icon}}</div>
    <div class="flex-grow-1 flex-shrink-1 px-1">{{name}}</div>
    <button type="button" title="Add habit to routine"
        class="add-to-routine btn btn-sm btn-outline-success fw-bold px-1 py-0 mx-1">+</button>
    <button type="button" title="Swap with above habit"
        class="reorder-in-routine btn btn-sm btn-outline-secondary px-1 py-0 mx-1">▲</button>
</span>