<span class="list-group-item px-1 px-sm-3">
    {{icon}} &nbsp; <button type="button" title="Swap with above habit"
        class="reorder-in-routine btn btn-sm btn-outline-secondary px-1 py-0">▲</button>
    {{name}}
    &nbsp; <button type="button" title="Remove habit from routine"
        class="remove-from-routine btn btn-sm btn-outline-danger float-end fw-bold px-1 py-0">X</button>
</span>