<div class="card m-3 p-3" data-uid="{{uid}}">
    <div class="card-img-top activity-icon">{{icon}}</div>
    <div class="card-body">
        <h2 class="card-title">{{name}}</h2>
        <p class="card-text"><small class="text-muted">{{time}}</small></p>
        <a href="routine#{{uid}}" class="btn btn-primary stretched-link">Go to routine</a>
    </div>
</div>
